/*Now the CSS*/

.hierarchyTreeTitle {
  text-align: center;
}

.employeeBox {
  padding: 10px;
  position: relative;
}

.employeeName {
  display: block;
  font-size: 30px;
}

.hierarchyTree {
  display: grid;
  text-align: center;
  justify-content: center;
}

.hierarchyTree ul {
  display: flex;
  padding-top: 20px;
  position: relative;
}

.hierarchyTree li {
  flex-wrap: nowrap;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
}

.hierarchyTree li::before,
.hierarchyTree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}
.hierarchyTree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

.hierarchyTree li:only-child::after,
.hierarchyTree li:only-child::before {
  display: none;
}

.hierarchyTree li:only-child {
  padding-top: 0;
}

.hierarchyTree li:first-child::before,
.hierarchyTree li:last-child::after {
  border: 0 none;
}

.hierarchyTree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}
.hierarchyTree li:first-child::after {
  border-radius: 5px 0 0 0;
}

.hierarchyTree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}
